<div class="container">
<br><br><br>
<% @sheets.each do |sheet| %>

<%= link_to 'View ' + sheet.name, sheet, :class => 'btn' %> 
<%= link_to 'Edit', edit_sheet_path(sheet), :class => 'btn btn-info' %><br><br>
<% end %>
</div>
