
<div class="container">
	<div align="center" class="mytitle">
Welcome to March Madness Brackets
</div>
<br><br>

<%= link_to 'Add Bracket', new_sheet_path, :class => "btn success" %>
<br><br>
<% if user_signed_in? %>
   
	<% if current_user.is_admin? %>
<%= link_to 'Calculate', points_path, :class => "btn btn-success" %>
<% end %>
<% end %>
<div>